.login{
    
    
    
    
    &-title{
        background-color: $mainColor;
        color:$textColor;
        font-size:3rem;
        width: 100%;
        line-height: 25vh;
        margin :0;
       
      >p{
          text-align:center;
          margin:0;
      }
    }

    &-img{
        width: 30%;
        align-self: center;
        margin-top: 0.5rem;
    }
    &-options{
        float: right;
        

        &-signup{
            text-align: center;
            >a{
                font-weight: 700;
                text-decoration-line: underline;
                color: $mainColor;
            }
        }
        &-form-button{

            text-align: center;

        }
    }
    &-notice{
        text-align: center;
        color:$bgColor;
    }
}